[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
pyyaml = "*"
fastapi = "*"
jinja2 = "*"
aiofiles = "*"
uvicorn = {extras = ["standard"],version = "*"}
httpx = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
