@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* BODY AND HEADER */

body {
    background: rgb(22, 17, 34);
    background-image: radial-gradient(rgb(167, 153, 204) 1px, transparent 0);
    background-size: 100px 100px;
    background-position: -10px -10px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Open Sans', serif;
}