#status-header {
    color: floralwhite;
}

/* DOWN TARGETS START */

#down_targets-header {
    background-color: rgb(248, 215, 218);
    color: rgb(114, 28, 36);
    border: 1px solid rgb(245, 198, 203);
    border-radius: 5px;
    padding: 8px 50px 8px 8px;
}

#down_targets-separator {
    border: 1px solid dimgray;
}

#down_targets-table {
    border-collapse: collapse;
    width: 100%;
    background: rgb(250, 250, 250);
}

#down_targets-table th, #down_targets-table td {
    padding: 8px 50px 8px 8px;
}

#down_targets-table th {
    background-color: rgb(248, 215, 218);
    color: rgb(114, 28, 36);
    border: 1px solid rgb(245, 198, 203);
}

#down_targets-table tr, #down_targets-table tr a {
    background-color: rgb(255, 150, 170);
    color: rgb(22, 17, 34);
}

#down_targets-table tr:hover, #down_targets-table tr:hover a {
    background-color: #fafafa;
}

#down_targets-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: darkslategray;
    text-align: left;
}

#retry-message {
    color: rgb(250, 250, 250);
    font-weight: bold;
}

/* DOWN TARGETS DOWN */

/* UP TARGETS */

#up_targets-header {
    background-color: rgb(212, 237, 218);
    color: rgb(21, 87, 36);
    border: 1px solid rgb(195, 230, 203);
    border-radius: 5px;
    padding: 8px 50px 8px 8px;
}

#up_targets-list {
    padding-left: 0px;
}

#up_targets-list>li {
    text-align: center;
    color: white;
    background-color: MediumSeaGreen;
    border: 2px solid MediumSeaGreen;
    border-radius: 5px;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
}

/* UP TARGETS DOWN */

/* INFO */

#info p, a {
    color: rgb(250, 250, 250);
    font-weight: bold;
}

.up_targets-list-item {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.up_targets-list-item .up_targets-list-item-tooltip {
    visibility: hidden;
    display: inline-block;
    white-space: nowrap;
    background-color: rgb(135, 158, 148);
    color: rgb(250, 250, 250);
    text-align: left;
    font-size: medium;
    font-weight: bold;
    border-radius: 6px;
    padding: 8px;
    opacity: 0;
    transition: opacity .2s .2s ease-out;
    /* transition: all 0.1s 1s ease-out; */
    position: absolute;
    z-index: 1;
    top: 101%;
    left: 50%;
    margin-left: -60px;
}

.up_targets-list-item .up_targets-list-item-tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    margin-left: 0px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent rgb(135, 158, 148) transparent
}

.up_targets-list-item:hover .up_targets-list-item-tooltip {
    visibility: visible;
    opacity: 1;
}